<div class="banner">
    <header>	
        <nav class="mnu navbar-light">
            <div class="logo" id="logo">
                <h1><a routerLink='/home'>Fantazy</a></h1>
            </div>
            <label for="drop" class="toggle">Ser<span class="fa fa-bars"></span></label>
            <input type="checkbox" id="drop">
            <ul class="menu">
                <li class="active"><a routerLink='/home'>Home</a></li>
                <li><a (click)="showVenueList()" style="color: white; text-decoration: none;">Venue</a></li>
                <li class="dropdown"><a class="dropdown-toggle text-white"  data-toggle="dropdown" >Packages</a>
                  <ul class="dropdown-menu bg-transparent text-white">
                    <li><a  class="text-white" (click)="showDecorationList()"  >Decoration</a></li>
                    <li><a class="text-white" (click)="showCateringList()" >Catering</a></li>
                   
                  </ul>
                </li>
              
                
                <li><a routerLink='/about' style="color: white; text-decoration: none;">About</a></li>
                <!-- <li>
                    <label for="drop-2"> <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                        <a href="#">Services <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                        <input type="checkbox" id="drop-2" />
                        <ul>
                          <li><a routerLink='/home'>Venue</a></li>
                          <li><a routerLink='/home'>Decoration</a></li>
                          <li><a routerLink='/home'>Catering</a> </li>
                        </ul>
                    </li> -->
                    
                    
                    <li><a routerLink='/gallary' style="color: white; text-decoration: none;">Gallery</a></li>
                    <li><a routerLink='/contact' style="color: white; text-decoration: none;">Contact Us</a></li>
                    
                    
                </ul>
  </nav>
  </header>
  <!-- //header -->
    <div class="container">
        <!-- banner-text -->
        <div class="banner-text">
            <div class="slider-info">
                <h3>Where dreams come true...</h3>
      <a routerLink='/aboutus' class="banner-button btn mt-md-5 mt-4">Know More</a>
    </div>
        </div>
    </div>
  </div>
