<!--
purpose: Footer Component
Author: Poonam K
Date: 20-Jan-2020

-->
<footer class="newsletter_right pymd-5 py-4" id="footer">
    <div class="container">
        <div class="inner-sec py-md-5 py-3">
            <div class="row mb-md-4 mb-md-3">
                <div class="col-lg-3 col-md-6 social-info text-left">
                   <h3 class="tittle1 foot mb-md-5 mb-4 text-white">Get in touch</h3>
                    <p> 6<sup>th</sup> Floor, block building,king Avenue, </p>
                    <p class="my-2"> Pune , MH</p>
                    <p class="phone">phone: 1234567890</p>
                    <p class="phone my-2">Fax: 1234567890</p>
                    <p class="phone">Mail:
                        <a href="mailto:weddingrocks10@gmail.com">weddingrocks10@gmail.com</a>
                    </p>

                </div>
                <div class="col-lg-3 col-md-6 social-info text-left">
                 <h3 class="tittle1 foot mb-md-5 mb-4 text-white">About Us</h3>
                   <p>Fantazy wedding Planner was established in 2011 as an Initiative By SR Event Planners to 
                       provide a focused approach towards the wedding planning segment.With years of experiences 
                       in the event industry, Fantazy Wedding Planner stands on a stronger base with the most 
                       creative, enthusiastic and committed team members</p>

                </div>
                <div class="col-lg-6 col-md-12 n-right tex-left">
                    <h3 class="tittle1 foot mb-md-5 mb-4 text-white">Subscribe our Newsletter</h3>
                    <form action="#" method="post">
                        <div class="form-group d-flex">
                            <input class="form-control" type="email" name="Email" placeholder=" Email Address" required="">
                            <button class=" btn btn-primary text-uppercase" type="submit " style="background-color: #f70255;">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8">      
                <p class="copy-right mt-2">© 2019 Wedding Planner. All Rights Reserved | Design by
                    <a href="http://localhost:4200/"> Fantazy </a>
                </p>
            </div>
            <div class="col-md-4">
                <ul class="social-icons scial justify-content-end">
                    <li class="mr-1"><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li class="mx-1"><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li class="mx-1"><a href="#"><span class="fa fa-google-plus"></span></a></li>
                    <li class="mx-1"><a href="#"><span class="fa fa-linkedin"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

