
<section class="banner_form py-5">
    <div class="container py-lg-3">
        <div class="row ban_form">
            <div class="col-lg-7 fom-left">
                <div class="categories_sub cats1">
                    <h2 class="heading-agileinfo">Our Weddings  Story</h2>
                    <p class="vam">Fantazy Wedding Planner boasts of a creative, 
                        enthusiastic and committed team with many years of experience in the wedding industry.
                        We have an unmatched portfolio of 8 different brands within the wedding industry catering to 
                        different segments of the society. Our brands are differentiated based on an understanding of 
                        constantly changing client requirements and a determination to be at the top of the market by 
                        delivering services of superior performance, innovation and world class design</p></div>
            </div>
            <div class="col-lg-5 reg-fom">
                <img src="../../../assets/images/1.jpg" class="img-fluid" alt="">
                
            </div>
        </div>
    </div>
</section>
<!--//banner form-->
  <!-- /services -->
<section class="banner-bottom-wthree py-lg-5 py-md-5 py-3">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5 py-3">
           <h3 class="heading-agileinfo text-center">We Will Plan </h3>
            <div class="row middle-grids mt-md-5 pt-4">
                <div class="col-lg-4 about-in-w3ls middle-grid-info text-center">
                    <div class="card">
                        <div class="card-body">
                            <span class="fa fa-bar-chart mb-2"></span>
                            <h5 class="card-title text-uppercase my-3">Wedding Vision</h5>
                            <p class="card-text">Define your wedding style and get matched with local vendors.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 about-in-w3ls middle-grid-info active text-center">
                    <div class="card">
                        <div class="card-body">
                            <span class="fa fa-paperclip mb-2"></span>
                            <h5 class="card-title text-uppercase my-3">Budgeter</h5>
                            <p class="card-text">Get a personalized spending plan based on your budget.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 about-in-w3ls middle-grid-info text-center">
                    <div class="card">
                        <div class="card-body">
                            <span class="fa fa-print mb-2"></span>
                            <h5 class="card-title text-uppercase my-3">Checklist</h5>
                            <p class="card-text">Always know what to do, when, with your 24/7 planner.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //services -->
<!-- choose -->
<section class="choose py-5">
    <div class="container py-md-4 mt-md-3"> 
        <div class="row inner_w3l_agile_grids-1 ">
            <div class="col-lg-6 w3layouts_choose_left_grid1">
                <div class="choose_top">
                    <h4 class="mb-3 mt-3 text-white">Feel Free to Contact Our Agents Directly</h4>
                    <p class="text-white">From finding to hiring, the Vendor Manager makes it easy 
                        to manage and remember all of your vendor details. Few benefits of doing so:<br>
                        1)Easily find and message vendors right from your WeddingWire account.<br>
                        2)Add notes and details about each vendor for later reference.<br>
                        3)Compare vendors with pricing and reviews to help you decide.<br>
                        4)Quickly reference, contact, and hire your top-choice vendors.<br>

                    </p>
                </div>
            </div>
            <div class="col-lg-6 w3layouts_choose_left_grid2">
                <div class="row">
                    <div class="col-md-6 w3l_choose_bottom1 mt-3 pt-md-4">
                        <div class="choose_bottom_top">
                            <span class="fa fa-camera mb-2"></span>
                            <h5 class="card-title text-uppercase my-3">Photography</h5>
                            <p class="card-text">Capture the precious moments which you'll cherish for long.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 w3l_choose_bottom2">
                        <div class="choose_bottom_top">
                            <span class="fa fa-heart mb-2"></span>
                            <h5 class="card-title text-uppercase my-3">Dresses & Makeup</h5>
                            <p class="card-text">Make you feel like never before.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 w3l_choose_bottom3 mt-3 pt-md-4">
                        <div class="choose_bottom_top">
                            <span class="fa fa-music mb-2"></span>
                            <h5 class="card-title text-uppercase my-3">Entertainment</h5>
                            <p class="card-text">Make sure your wedding won't be like anyone else's.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 w3l_choose_bottom4">
                        <div class="choose_bottom_top">
                            <span class="fa fa-glass mb-2"></span>
                            <h5 class="card-title text-uppercase my-3">Celebrations</h5>
                            <p class="card-text">Just enjoy yourself to fullest and leave the rest to us.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>   
</section>
<!-- //choose -->
 <!-- /advantage -->
 <section class="banner-bottom py-lg-5 py-md-5 py-3">
    <div class="container">
        <div class="inner-sec py-lg-5 py-3">
             <h3 class="heading-agileinfo text-center">Our Advantages</h3>
           <div class="row middle-grids mt-lg-5 pt-5">
               <div class="col-lg-6 advantage-grid-info1">
                    <div class="advantage_left1 text-center">
                        <img src="../../assets/images/p1.jpg" class="img-fluid" alt="">
                    </div>
                </div> 
                 <div class="col-lg-6 advantage-grid-info pt-md-5">
                    <div class="advantage_left">
                        <h4 class="mb-2">Find The Perfect Engagement and Proposal Rings</h4>
                        <h3>Engagement Rings</h3>
                        <p class="mt-2">Explore a variety of engagement rings to find the perfect ring for 
                            the love of your life. On The Knot, you can find vintage engagement rings, 
                            modern engagement rings, traditional engagement rings, and more. You can search 
                            by metal to find white gold engagement rings, rose gold engagement rings, 
                            platinum engagement rings, and beyond.</p>
                    </div>
                </div>
            </div>
             <div class="row middle-grids pt-lg-5">
                <div class="col-lg-6 advantage-grid-info pt-md-5 mt-md-5">
                    <div class="advantage_left">
                        <h4 class="mb-2">Find The Perfect Wedding Dress for Your Big Day</h4>
                        <h3>Wedding Dresses</h3>
                        <p class="mt-2">You’ve found the perfect partner and you have a sparkly engagement 
                            ring on your finger, and now all you need is the wedding dress of your dreams. 
                            Maybe you’re dreaming of an elaborate fairytale-inspired ball gown or a sleek and 
                            elegant knee-length dress, you’ll find your perfect match here!</p>
                    </div>
                </div>
                <div class="col-lg-6 advantage-grid-info1">
                    <div class="advantage_left2 text-center">
                        <img src="../../assets/images/g1.jpg" class="img-fluid" alt="">
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>
<!-- //advantage -->
<!-- feedback -->
<section class="news py-5">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="heading-agileinfo text-white text-center">Recent FeedBack</h3>
        <div class="row mt-md-5 pt-4">
            <div class="col-md-4 item">
                <div class="feedback-info py-5 px-4">
                    <h4 class="mb-2">You are the worlds best wedding planner!</h4>
                    <p>Thanks for amazing surprises. All event decor was just amazing and way beyond expectation.</p>
                    <div class="feedback-grids mt-4">
                        <div class="feedback-img">
                            <img src="../../assets/images/te1.jpg" class="img-fluid rounded-circle" alt="" />
                        </div>
                        <div class="feedback-img-info">
                            <h5>Rohit and Kanchan</h5>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 item-2">
                <div class="feedback-info py-5 px-4">
                    <h4 class="mb-2">“It looked like something out of a magazine"</h4>
                    <p> We received many compliments saying, ours' was the most beautifull wedding...</p>
                    <div class="feedback-grids mt-4">
                        <div class="feedback-img">
                            <img src="../../assets/images/te3.jpg" class="img-fluid rounded-circle" alt="" />
                        </div>
                        <div class="feedback-img-info">
                            <h5>Olivia and Ruth</h5>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 item">
                <div class="feedback-info py-5 px-4">
                    <h4 class="mb-2">A big thanks to you and your team. Well planned!
                    </h4>
                    <p>You guys set the perfect pitch for this partnership. 
                        The event will feel incomplete without you guys!</p>
                    <div class="feedback-grids mt-4">
                        <div class="feedback-img">
                            <img src="../../assets/images/te2.jpg" class="img-fluid rounded-circle" alt="" />
                        </div>
                        <div class="feedback-img-info">
                            <h5>Jiten and Ekta</h5>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //feedback -->
<!-- stats -->
<section class="stats py-5">
    <div class="container py-md-5">
        <h3 class="heading-agileinfo text-center">Our Achievements</h3>
        <span class="w3-line black"></span>	
        <div class="row inner_w3l_agile_grids-1 pt-md-5 mt-4">
            <div class="col-lg-3 col-sm-6 w3layouts_stats_left w3_counter_grid">
                <span class="fa fa-users mb-2"></span>
                <p class="counter">250</p>
                <h3>Clients</h3>
            </div>
            <div class="col-lg-3 col-sm-6 w3layouts_stats_left w3_counter_grid1">
                <span class="fa fa-gift mb-2"></span>
                <p class="counter">182</p>
                <h3>Weddings</h3>
            </div>
            <div class="col-lg-3 col-sm-6 w3layouts_stats_left w3_counter_grid2">
                <span class="fa fa-glass mb-2"></span>
                <p class="counter">105</p>
                <h3>Bachelore Parties</h3>
            </div>
            <div class="col-lg-3 col-sm-6 w3layouts_stats_left w3_counter_grid2">
                <span class="fa fa-music mb-2"></span>
                <p class="counter">150</p>
                <h3>Other Events</h3>
            </div>
        </div>
    </div>	
</section>
