<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="index.html">Home</a>
	</li>
	<li class="breadcrumb-item active">About</li>
</ol>
 <!-- //banner-text -->
 <section class="banner_bottom1 py-md-5">
	<div class="container py-4 mt-2">
		<h3 class="heading-agileinfo text-center">About  <span>Us</span></h3>
		<div class="inner_sec_info_wthree_agile mt-md-5 pt-3">
			<div class="row help_full">
				<div class="col-lg-6 banner_bottom_grid help">
					<img src="../../assets/images/1.jpg" alt=" " class="img-fluid">
				</div>
				<div class="col-lg-6 banner_bottom_left1">
					<h3>Who are we?</h3>
					<p>Fantazy wedding Planner was established in 2019 as an Initiative By SR Event Planners to provide a focused approach 
						towards the wedding planning segment. With years of experiences in the event industry, Elite Wedding Planner stands 
						on a stronger base with the most creative, enthusiastic and committed team members, who have developed their expertise 
						in the wedding industry</p>
					<h3>Founders of Fantazy wedding planner – Our Core Team</h3>
					<p><b>Sujay Pathak, Co-Founder & CTO</b><br>
						Sujay brings an unparalleled blend of experience, education and personality to each and every event. 
						
						He says,“We pride ourselves on our attention to detail personal service and strive for perfection to exceed your 
						expectations.”</p><br><br>
                   				
					</div>
			</div>
		</div>
	</div>
</section>

<!-- choose -->
<section class="choose py-5">
    <div class="container py-md-4 mt-md-3"> 
        <div class="row inner_w3l_agile_grids-1 ">
            <div class="col-lg-6 w3layouts_choose_left_grid1">
                <div class="choose_top">
                    <h4 class="mb-3 mt-3 text-white">Feel Free to Contact Our Agents Directly</h4>
                    <p class="text-white">From finding to hiring, the Vendor Manager makes it easy 
                        to manage and remember all of your vendor details. Few benefits of doing so:<br>
                        1)Easily find and message vendors right from your WeddingWire account.<br>
                        2)Add notes and details about each vendor for later reference.<br>
                        3)Compare vendors with pricing and reviews to help you decide.<br>
                        4)Quickly reference, contact, and hire your top-choice vendors.<br>

                    </p>
                </div>
            </div>
            <div class="col-lg-6 w3layouts_choose_left_grid2">
                <div class="row">
                    <div class="col-md-6 w3l_choose_bottom1 mt-3 pt-md-4">
                        <div class="choose_bottom_top">
                            <span class="fa fa-camera mb-2"></span>
                            <h5 class="card-title text-uppercase my-3">Photography</h5>
                            <p class="card-text">Capture the precious moments which you'll cherish for long.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 w3l_choose_bottom2">
                        <div class="choose_bottom_top">
                            <span class="fa fa-heart mb-2"></span>
                            <h5 class="card-title text-uppercase my-3">Dresses & Makeup</h5>
                            <p class="card-text">Make you feel like never before.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 w3l_choose_bottom3 mt-3 pt-md-4">
                        <div class="choose_bottom_top">
                            <span class="fa fa-music mb-2"></span>
                            <h5 class="card-title text-uppercase my-3">Entertainment</h5>
                            <p class="card-text">Make sure your wedding won't be like anyone else's.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 w3l_choose_bottom4">
                        <div class="choose_bottom_top">
                            <span class="fa fa-glass mb-2"></span>
                            <h5 class="card-title text-uppercase my-3">Celebrations</h5>
                            <p class="card-text">Just enjoy yourself to fullest and leave the rest to us.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>   
</section>
<!-- //choose -->
<!-- team -->
<section class="team py-md-5 py-4">
	<div class="container py-lg-5">
		<h2 class="heading-agileinfo text-center  mb-4">Wedding Planners</h2>
		<div class="row inner-sec-w3layouts-agileinfo pt-md-5">
			<div class="col-md-3 col-sm-6 team-grids aos-init" data-aos="flip-left">
				<img src="images/t4.jpg" class="img-fluid" alt="">
				<div class="team-info">
					<div class="caption">
						<h4>John Doe</h4>
						<h6>Lorem
							</h6><h6>
					</h6></div>
					<div class="social-icons-section">
						<a class="fac" href="#">
							<span class="fa fa-facebook"></span>
						</a>
						<a class="twitter" href="#">
							<span class="fa fa-twitter"></span>
						</a>
						<a class="pinterest" href="#">
							<span class="fa fa-pinterest"></span>
						</a>

					</div>

				</div>
			</div>
			<div class="col-md-3 col-sm-6 team-grids aos-init" data-aos="flip-right">
				<img src="images/t2.jpg" class="img-fluid" alt="">
				<div class="team-info">
					<div class="caption">
						<h4>Alina Smith</h4>
						<h6>Lorem</h6>
					</div>
					<div class="social-icons-section">
						<a class="fac" href="#">
							<span class="fa fa-facebook"></span>
						</a>
						<a class="twitter" href="#">
							<span class="fa fa-twitter"></span>
						</a>
						<a class="pinterest" href="#">
							<span class="fa fa-pinterest"></span>
						</a>

					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 team-grids aos-init" data-aos="flip-left">
				<img src="images/t3.jpg" class="img-fluid" alt="">
				<div class="team-info">
					<div class="caption">
						<h4>Adam Lobster</h4>
						<h6>Lorem</h6>
					</div>
					<div class="social-icons-section">
						<a class="fac" href="#">
							<span class="fa fa-facebook"></span>
						</a>
						<a class="twitter" href="#">
							<span class="fa fa-twitter"></span>
						</a>
						<a class="pinterest" href="#">
							<span class="fa fa-pinterest"></span>
						</a>

					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 team-grids aos-init" data-aos="flip-right">
				<img src="images/t1.jpg" class="img-fluid" alt="">
				<div class="team-info">
					<div class="caption">
						<h4>Chris Woakes </h4>
						<h6>Lorem</h6>
					</div>
					<div class="social-icons-section">
						<a class="fac" href="#">
							<span class="fa fa-facebook"></span>
						</a>
						<a class="twitter" href="#">
							<span class="fa fa-twitter"></span>
						</a>
						<a class="pinterest" href="#">
							<span class="fa fa-pinterest"></span>
						</a>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //team -->

