table td{
    padding: 10px;
}

h2
{
    color:#f70255;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

#title
{
    text-align: center;
}
#venueSelect
{
    height:30px;
}

caption
{
    text-align:center;
}
.invalid-feedback
{
    columns: red;
}