<div class="container" style="margin-bottom: 30px; margin-top: 30px;">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <form [formGroup]="venueForm" (ngSubmit)="onSubmit()" style="height: 100%;">

                <div id="title" class="form-row" style="margin-top: 20px; margin-bottom: 20px;">
                    <h2> Venue Registration</h2>
                </div>

                <div class="form-row" hidden>
                    <div class="form-group col-2" style="text-align: right;">
                    </div>
                    <div class="form-group col-5">
                        <input type="text" placeholder="Venue Id" formControlName="venueId" class="form-control" />
                    </div>

                    <div class="form-group col-5">
                    </div>
                </div>

                <div class="form-row" >
                    <div class="form-group col-2" style="text-align: right;">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <div class="form-group col-5"> <!--tempory -->
                        <select class="form-control" formControlName="vendorId" >
                            <option>Select Vendor</option>
                            <option>1</option>
                        </select>
                    </div>

                    <div class="form-group col-5">
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-2" style="text-align: right;">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <div class="form-group col-5">
                        <input type="text" placeholder="Venue Name" (keydown)="validateInput($event)"
                            formControlName="venueName" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && venueForm.get('venueName').errors }" />
                        <div *ngIf="submitted && venueForm.get('venueName').errors" class="invalid-feedback">
                            <div *ngIf="venueForm.get('venueName').errors.required">Venue Name is required</div>
                        </div>
                    </div>
                </div>
                    

                <div formGroupName="address">
                        <div class="form-row">
                            <div class="form-group col-2" style="text-align: right;">
                                <span class="glyphicon glyphicon-map-marker"></span>
                            </div>
                            <div class="form-group col-5">
                                <input type="text" placeholder="Area" formControlName="area"
                                    (keydown)="validateInput($event)" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && venueForm.get('address.area').errors }" />
                                <div *ngIf="submitted && venueForm.get('address.area').errors" class="invalid-feedback">
                                    <div *ngIf="venueForm.get('address.area').errors.required">Area is required</div>
                                </div>
                            </div>
                            <div class="form-group col-5">
                                <input type="text" placeholder="Street" (keydown)="validateInput($event)"
                                    formControlName="street" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && venueForm.get('address.street').errors }" />
                                <div *ngIf="submitted && venueForm.get('address.street').errors"
                                    class="invalid-feedback">
                                    <div *ngIf="venueForm.get('address.street').errors.required">Street is required
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

                <div formGroupName="address">
                        <div class="form-row">
                            <div class="form-group col-2" style="text-align: right;">

                            </div>
                            <div class="form-group col-5">

                                <input type="text" placeholder="City" (keydown)="validateInput($event)"
                                    formControlName="city" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && venueForm.get('address.city').errors }" />
                                <div *ngIf="submitted && venueForm.get('address.city').errors" class="invalid-feedback">
                                    <div *ngIf="venueForm.get('address.city').errors.required">City is required</div>
                                </div>
                            </div>

                            <div class="form-group col-5">

                                <input type="text" placeholder="State" (keydown)="validateInput($event)"
                                    formControlName="state" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && venueForm.get('address.state').errors }" />
                                <div *ngIf="submitted && venueForm.get('address.state').errors"
                                    class="invalid-feedback">
                                    <div *ngIf="venueForm.get('address.state').errors.required">State is required</div>
                                </div>
                            </div>
                        </div>
                </div>


                <div formGroupName="address">
                        <div class="form-row">
                            <div class="form-group col-2" style="text-align: right;">

                            </div>
                            <div class="form-group col-5">

                                <input type="text" placeholder="Pin Code" formControlName="pinCode" minlength="6"
                                    maxlength="6" class="form-control" (keydown)="validateNumber($event)"
                                    [ngClass]="{ 'is-invalid': submitted && venueForm.get('address.pinCode').errors }" />
                                <div *ngIf="submitted && venueForm.get('address.pinCode').errors"
                                    class="invalid-feedback">
                                    <div *ngIf="venueForm.get('address.pinCode').errors.required">Pin Code is required
                                    </div>
                                    <div *ngIf="venueForm.get('address.pinCode').errors.minlength">Pin Code should be 6
                                        digits</div>

                                </div>
                            </div>

                            <div class="form-group col-5">

                            </div>
                        </div>
                </div>

                <div class="form-row">
                        <div class="form-group col-2" style="text-align: right;">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </div>
                        <div class="form-group col-5">

                            <input type="text" (keydown)="validateNumber($event)" placeholder="Capacity" formControlName="capacity" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && venueForm.get('capacity').errors }" />
                            <div *ngIf="submitted && venueForm.get('capacity').errors" class="invalid-feedback">
                                <div *ngIf="venueForm.get('capacity').errors.required">Capacity is required</div>
                               
                            </div>
                </div>

                        <div class="form-group col-5">

                        </div>
                </div>

                <div class="form-row">
                        <div class="form-group col-2" style="text-align: right;">
                            <span class="glyphicon glyphicon-earphone"></span>
                        </div>
                        <div class="form-group col-5">

                            <input type="text" placeholder="Price" formControlName="price"
                                (keydown)="validateNumber($event)" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && venueForm.get('price').errors }" />
                            <div *ngIf="submitted && venueForm.get('price').errors" class="invalid-feedback">
                                <div *ngIf="venueForm.get('price').errors.required">Price is required</div>
                            </div>
                        </div>

                        <div class="form-group col-5">
                        </div>
                 </div>

                <div class="form-row">
                        <div class="form-group col-2" style="text-align: right;">
                            <span class="glyphicon glyphicon-briefcase"></span>
                        </div>
                        <div class="form-group col-5">
                            <div>
                                <textarea rows="5" placeholder="Extra" formControlName="extra"
                                     class="form-control" ></textarea>
                            </div>
                        </div>

                       
                        <div class="form-group col-5">
                        </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-2" style="text-align: right;">
                        <span class="glyphicon glyphicon-briefcase"></span>
                    </div>
                    
                        <div class="form-group col-5">
                            <input (change)="onSelectFile($event)" style="border: none" type="file"
                                class="form-control">
                        </div>
                    

                   
                    <div class="form-group col-5">
                    </div>
            </div>
               

                <div class="text-center">
                        <button class="btn btn-primary mr-1">Register</button>
                        <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
                 </div>
             
            </form>
        </div>
    </div>
</div>
















<!-- <div class="container">
    <form  ngNativeValidate [formGroup]="venueForm" (ngSubmit)='onSubmit()'>      
<table align="center">
    {{error}}
    <caption style="caption-side: top;" align="center"><h2> Venue Registration</h2></caption>
    <tr >
        <td align="right"><span class="glyphicon glyphicon-user"></span></td>
        <td colspan="2">
        <input type="text" formControlName="venueId" placeholder="VenueId" class="form-control"   hidden >
            
        </td>
    </tr>
    <tr>
        <td align="right"><span class="glyphicon glyphicon-map-marker"></span></td>
        <td colspan="2"><input type="text" appWordsOnly formControlName="venueName" placeholder="Name of the Venue" class="form-control" required ></td>
    </tr>
    <tr formGroupName="address" >
        <td align="right"><span class="glyphicon glyphicon-map-marker"></span></td>
        <td><input type="text"   formControlName="area" placeholder="Area" class="form-control" appWordsOnly  required ></td>
        <td><input type="text" appWordsOnly formControlName="street" placeholder="Street" class="form-control"  required ></td>
    </tr>

    <tr formGroupName="address">
        <td></td>
        <td><input type="text" appWordsOnly formControlName="city" placeholder="City" class="form-control"  required ></td>
        <td><input type="text" appWordsOnly formControlName="state" placeholder="State" class="form-control"  required ></td>
    </tr>

    <tr formGroupName="address">
        <td></td>
        <td><input type="text" appNumbersOnly minlength="6" maxlength="6" formControlName="pinCode" placeholder="Pin Code" class="form-control"  required ></td>
        <td></td>
    </tr>

    <tr>
        <td align="right"><span class="glyphicon glyphicon-user"></span></td>
        <td colspan="2"><input type="number" appNumbersOnly formControlName="capacity" placeholder="Capacity" class="form-control"  required></td>
     </tr>
    <tr>
        <td align="right"><span class="glyphicon glyphicon-user"></span></td>
        <td colspan="2"><input type="number" formControlName="price" appNumbersOnly name="price" placeholder="Price" class="form-control"  required ></td>
    </tr>
    <tr>
        <td align="right"><span class="glyphicon glyphicon-user"></span></td>
        <td colspan="2"><input type="text" formControlName="extra" placeholder="extra Info" class="form-control" required></td>
    </tr>
    <tr>
        <td align="right"><span class="glyphicon glyphicon-user"></span></td>
        <td colspan="2"> <input (change)="onSelectFile($event)" style="border: none"  type="file" class="form-control"></td>
    </tr>      
    <tr>
        <td></td>
        <td align="right" ><button class="btn btn-primary" type="submit">Register</button></td>
        <td align="left"><button class="btn btn-success" type="reset">Reset</button></td>
    </tr>     
    </table>
</form> 
</div>
     -->