
<div class="container" id="maindiv"> 
    <form #eventsForm="ngForm" (ngSubmit)="SubmitDetails(eventForm.value)">
  <table align="center">
      <tr>
          <td><div class="card" style="width: 18rem;">
              <img src="../../assets/images/bg1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a (click)="NavigateToDate()" class="btn btn-primary">Book</a>
              </div>
            </div></td>
            
            <td>
              <div class="card" style="width: 18rem;">
                  <img src="../../assets/images/bg1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a (click)="NavigateToDate()" class="btn btn-primary">Book</a>
                  </div>
                </div>
            </td>
            <td>
              <div class="card" style="width: 18rem;">
                  <img src="../../assets/images/bg1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a (click)="NavigateToDate()" class="btn btn-primary">Book</a>
                  </div>
                </div>
            </td>
      </tr>
  </table>
  </form>
  </div>