
<div class="container" id="maindiv"> 
    <form #eventsForm="ngForm" (ngSubmit)="SubmitDetails(eventForm.value)">
  <table align="center">
      <tr *ngFor="let Venue of venueList ">

        <td></td>
          <td><div class="card" style="width: 18rem;">
              <img [src]="converted_image" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color:red;font-style:initial;" >Venue Name :{{Venue.venueName}}</h5>
      
                <h6  style="color:red;font-style:initial;">Capacity :{{Venue.capacity}}</h6>
                <h6  style="color:red; font-style:initial;"> Booking Price :{{Venue.price}}</h6>
                <h6 style="color:red;font-style:initial;">Address : {{Venue.Address.area}},{{Venue.Address.city}},{{Venue.Address.state}},{{Venue.Address.pinCode}}</h6>
                <p class="card-text"></p>
                <a (click)="NavigateToDate()" class="btn btn-primary" >Book</a>
              </div>
            </div></td>

            <td></td>
            
            
      </tr>
  </table>
  </form>
  </div>